{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SocialMedia{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <main class="page-container">
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
